<h1> Todo App </h1>

<form action="/todos/add" method="POST">
<input type="text" name="content">

<br>

<input type="submit" name="submit" value="new Todo"> 

</form>

<ul>
<% @todos.each do |todo| %>



<li class="<%= todo.styleClass %>"> <%= todo.content %>,

<form action="/todos/done" method="POST">
<input type="hidden" name="todo_id" value="<%= todo.id %>">
<input type="submit" value="<%= todo.doneString %>">
</form>

	</li>
	<% end %>
	</ul>



<style>
.strikethrough {
	text-decoration: line-through;
}

</style>