<h1> Sign In </h1>

<form action="/users/signin_submit" method="POST">
	
<input type="text" name="email"> <br>
<input type="password" name="password"><br>

<input type="submit" name="submit" value="Sign In">

</form>