*{
	margin:0px;
	padding: 0px;
}
.supercover{
	margin:auto;
	display: block;
	width: auto;
}
body{
	width: auto;
	position: static;
	margin: auto;
}
header{
	height: 50px;
	width: auto;
	display: flex;
	padding:auto;
	background-color: rgba(46, 73, 117, 1);
}
header nav{
    width: content;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
header nav a{
	color:#fff;
	width: content;
	font: normal normal normal 20px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
	text-decoration: none;
	padding-left:20px;

}
.top{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.pic{
	background: url('images/pic.jpg');
	width: 100%;
	font: normal normal normal 20px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 2em;
}
.profilepic{
	width: 200px;
	height: 200px;
	border-radius:50%;
	top: 340px;
	position: absolute;
	background:#fff;
	padding: 5px;
}
#pc{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
#aboutme{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #edeff5;
	padding-top:50px;
	height: 900px;
}
#aboutme h3{
	font: normal normal normal 20px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
	font-size: 2em;
	letter-spacing: 3.8px;
}
#aboutme_inner{
	width: 900px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.box{
	background-color: #df3143;
	width: 100px;
	height: 6px;
}
#lower{
	background:url('images/pic.jpg');
	height: 900px;
	display: flex;
    justify-content: center;
}
.lower_inner{
	width: 700px;
}
.skillsbox{
	width: 750px;
	height: 500px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.skillsbox div{
	width: 250px;
	height: 250px;
}
.one{
	background-color: #edeff5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.two{
	background-color: #bbc8dd;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.one h1{
	font-size: 2em;
	color: #df3143;;
}
.two h1{
	font-size: 2em;
	color:  rgba(46, 73, 117, 1);
}
#contact{
	display: flex;
	height: 350px;
	justify-content: flex-start;
}
#contact div{
	width: 50%
}
.quickid{
	background-color:  rgba(46, 73, 117, 1);
	display: flex;
	justify-content: flex-end;
}
.messageform{
	background-color: #bbc8dd;
}
footer{
	height: 120px;
	background-color: #edeff5;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
footer div img{
	width: 20px;
	height: 20px;
	padding-left: 5px;
}
#info{
	width: 400px;
}
.educationinfo{
	height: 500px;
	width: 700px;
	display: flex;
	justify-content: flex-start;
}
#sidebar{
	height: 400px;
	width: 3px;
	border-radius: 40%;
	margin-left: 10px;
	background-color:  #bbc8dd;
}
#round{
	background-color: #df3143;
	border-radius: 50%;
	border: 2px solid #edeff5;
	width: 20px;
	height: 20px;
	position: absolute;
	margin-left:-12px;
	margin-top: 20px;
}
#round1{
	background-color: #df3143;
	border-radius: 50%;
	border: 2px solid #edeff5;
	width: 20px;
	height: 20px;
	position: absolute;
	margin-left:-12px;
	margin-top: 154px;
	
}
#round2{
	background-color: #df3143;
	border-radius: 50%;
	border: 2px solid #edeff5;
	width: 20px;
	height: 20px;
	position: absolute;
	margin-left:-12px;
	margin-top: 295px;

}